@page "/asset/create"
@using ListAsset.DataAccess.Models
@using ListAsset.BusinessAccess.Services
@inject AssetService AssetService
@inject CountryService CountryService
@inject NavigationManager UriHelper
@attribute [Authorize]

<h1>Create Asset</h1>
<br/>

<Form ButtonText="Create Asset" Asset="@asset" Loading="@loading" Countries="@countries"
      OnValidSubmit="@CreateAsset" />

@code {
    bool loading = false;

    Asset asset = new Asset();
    List<Country> countries = new List<Country>();

    protected async override Task OnParametersSetAsync()
    {
        countries.Add(new Country { CountryId = Guid.Empty, CountryName = "---- Select Country -----" });
        var countriesData = CountryService.ListCountries().ToList();
        countries.AddRange(countriesData);
    }

    async Task CreateAsset()
    {
        loading = true;
        try
        {
            await AssetService.CreateAsset(asset);
            loading = false;
            UriHelper.NavigateTo("asset", true);
        }
        catch (Exception ex)
        {
            loading = false;
            StateHasChanged();
        }
    }
}