@page "/asset/update/{id}"
@using ListAsset.DataAccess.Models
@using ListAsset.BusinessAccess.Services
@inject AssetService AssetService
@inject CountryService CountryService

<h1>Edit Asset</h1>
<br/>

<Form ButtonText="Edit Asset" Asset="@asset" Loading="@loading" Countries="@countries" 
      OnValidSubmit="@UpdateAsset" />

@code {
    bool loading = false;

    [Parameter]
    public string Id { get; set; }

    Asset? asset = new Asset();
    List<Country> countries = new List<Country>();

    protected async override Task OnParametersSetAsync()
    {
        asset = await AssetService.GetAsset(Guid.Parse(Id));
        countries = await CountryService.ListCountries();
    }

    async Task UpdateAsset()
    {
        loading = true;
        try
        {
            await AssetService.UpdateAsset(asset);
            loading = false;
        }
        catch (Exception ex)
        {
            loading = false;
            StateHasChanged();
        }
    }
}