@inherits LayoutComponentBase

@using Radzen
@using Radzen.Blazor

<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<RadzenLayout class="rz-shadow-3">
    <RadzenHeader>
        <div class="d-flex align-items-center">
            <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
            <RadzenLabel Text="Testing Blazor" />
        </div>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebarExpanded">
        <NavMenu />
    </RadzenSidebar>
    <RadzenBody>
        <ChildContent>
            <RadzenContentContainer Name="main">
                @Body
            </RadzenContentContainer>
        </ChildContent>
    </RadzenBody>
    <RadzenFooter>
        <ChildContent>
            <RadzenLabel Text="Testing App, Copyright Ⓒ 2023"></RadzenLabel>
        </ChildContent>
    </RadzenFooter>
</RadzenLayout>

@code {
    bool sidebarExpanded = true;
}
